body {
    background-color: beige;
}
h1{
    text-align:left;
    font-size: 40px;
    cursor: pointer;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display:block;
    color: white;
    text-align: center;
    padding: 19px 16px;
    text-decoration: none;
    font-size: larger;
  }
  
  
  li a:hover {
    background-color: #111;
  }
    form{
        
        text-align: right;
        padding: 14px ;
    }
    input{
        position: relative;
        width:15rem;
        height:2rem;
        border-radius:8px;
    }
    



button  {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 2rem;
  line-height: 4px;
  outline: 0;
  overflow: hidden;
  padding: 0 15px;
  pointer-events: auto;
  position: relative;
  text-align:left;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 4%;
  z-index: 9;
  border: 0;
}

button {
  background: #00bd68;
}
div.card{
    float:left;
    border-radius: 5px;
    padding: 19px 23px;

}

  

div.card:hover{
background-color: rgb(226, 226, 226);

}
h5{
    font-size: larger;
    font-style: normal;
}

.menu {
  list-style-type:circle;
  padding: 0;
  display:inline;

}
.menu li {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: beige;
  display:inline;
}
button.menu{
  margin-left:2rem;
  text-align: center;
}
  
img{
  border:#FFFFFF;
  border-radius: 5px;
  box-shadow: #333;
}
p{
  margin-left: 20px;

}
 .large-font{
  font-size:xxx-large;
}
.top-20{
  position:relative;
  top:20vh;
}
ion-icon.active{
  animation:like 0.5s 1;
  fill:red;
  stroke:none;
}
ion-icon{
  fill:transparent;
  stroke:black;
  stroke-width:30;
  transition:all 0.5s;
}



#name{
  font-size:larger;
  font-weight: 500;
  padding-left: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
#price{
  font-size: larger;
  font-weight: 500;
  padding-left: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 300px;
  display: inline-block;
}

img {
  max-width: 100%;
}
div.form-floating {
  width:25rem;
  display: block;
  height: auto;
  margin-left: 100px;
  position: relative; 

}
textarea{
  width :45rem;
  border-radius: 5px;

}
button.primary{
  margin-left: 200px;
}



/* CSS */
.primary{
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
}

.primary:disabled {
  cursor: default;
}

.primary:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}